{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block content %}
      <!-- Grid -->
      <div class="w3-row">
        {% if user.is_authenticated %}
        <div class="w3-col l10 s10">
          {% else %}
        <div class="w3-col l12 s12">
          {% endif %}
          {% for post in posts %}
            <div class="w3-col l6 s6">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                  <div class="w3-container">
                    <h3><b>{{post.title}}</b></h3>
                    <h5>Title description, <span class="w3-opacity">{{post.createdDate}}</span></h5>
                    <h6>{{post.commit.all.first.comment}}</h6>
                  </div>

                  <div class="w3-container">
                    <p>{{post.summary}}</p>
                    <div class="w3-row">
                      <div class="w3-col m8 s12">
                        <p><button class="w3-button w3-padding-large w3-white w3-border" onclick="location.href='{% url 'post' post.id %}'"><b>READ MORE »</b></button></p>
                      </div>
                      <div class="w3-col m4 w3-hide-small">
                        <p><span class="w3-padding-large w3-right"><b>Hits  </b> <span class="w3-tag">{{post.hits}}</span></span>
                      </p>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
          {% endfor %}
          <div class="w3-row w3-center">
            <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
          </div>
        </div>


        <!-- Introduction menu -->
        {% if user.is_authenticated %}
        <div class="w3-col l2">
          <!--image card-->
          <div class="w3-card-4 w3-margin w3-margin-top">
            <img src="{%static 'img_avatar3.png'%}" alt="Person" style="width:100%">
            <div class="w3-container">
              <h4><b>{{user.username}}</b></h4>
              <p>{{user.shortDescription}}</p>
            </div>
          </div>

          <!-- About Card -->
          <div class="w3-card-4 w3-margin w3-margin-top">
            <div class="w3-container w3-white">
              <p>{{user.fullDescription}}</p>
            </div>
          </div>
          <hr>

          <!-- Posts -->
          <div class="w3-card-4 w3-margin">
            <div class="w3-container w3-padding">
              <h4>Popular Posts</h4>
            </div>
            <ul class="w3-ul w3-hoverable w3-white">
              {% for post in sortedPosts %}
              <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                <span class="w3-large">{{post.title}}</span><br>
                <span>{{post.commit.all.first.comment}}</span>
              </li>
              {% endfor %}
            </ul>
          </div>
          <hr>

          <!-- END Introduction Menu -->
        </div>
        {% endif %}

        <!-- END GRID -->
      </div><br>
{%endblock%}