{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block content %}
      <!-- Grid -->
      <div class="w3-row">
        {% if user.is_authenticated %}
        <div class="w3-col l10 s10">
          {% else %}
        <div class="w3-col l12 s12">
          {% endif %}
          {% for post in posts %}
            <div class="w3-col l6 s6">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                  <div class="w3-container">
                    <h3><b>{{post.title}}</b></h3>
                    <h5>Title description, <span class="w3-opacity">{{post.createdDate}}</span></h5>
                    <h6>#TODO</h6>
                  </div>

                  <div class="w3-container">
                    <p>{{post.summary}}</p>
                    <div class="w3-row">
                      <div class="w3-col m8 s12">
                        <p><button class="w3-button w3-padding-large w3-white w3-border" onclick="location.href='{% url 'post' post.id %}'"><b>READ MORE »</b></button></p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          {% endfor %}
          <div class="w3-row w3-center">
            <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
          </div>
        </div>


        <!-- Introduction menu -->
        {% if user.is_authenticated %}
        <div class="w3-col l2">
          <!--image card-->
          <div class="w3-card-4 w3-margin w3-margin-top">
            <img src="{%static 'img_avatar3.png'%}" alt="Person" style="width:100%">
            <div class="w3-container">
              <h4><b>{{user.username}}</b></h4>
              <p>{{user.shortDescription}}</p>
            </div>
          </div>

          <!-- About Card -->
          <div class="w3-card-4 w3-margin w3-margin-top">
            <div class="w3-container w3-white">
              <p>{{user.fullDescription}}</p>
            </div>
          </div>
          <hr>

          <!-- Posts -->
          <div class="w3-card-4 w3-margin">
            <div class="w3-container w3-padding">
              <h4>Popular Posts</h4>
            </div>
            <ul class="w3-ul w3-hoverable w3-white">
              <li class="w3-padding-16">
                <img src="{%static 'post_img4.png'%}" alt="Image" class="w3-left w3-margin-right" style="width:100%">
                <span class="w3-large">Account controller</span><br>
                <span>Sed mattis nunc</span>
              </li>
              <li class="w3-padding-16">
                <img src="{%static 'post_img1.png'%}" alt="Image" class="w3-left w3-margin-right" style="width:100%">
                <span class="w3-large">Sign up</span><br>
                <span>Praes tinci sed</span>
              </li>
              <li class="w3-padding-16">
                <img src="{%static 'post_img3.png'%}" alt="Image" class="w3-left w3-margin-right" style="width:100%">
                <span class="w3-large">Notification view</span><br>
                <span>Ultricies congue</span>
              </li>
              <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                <img src="{%static 'post_img2.png'%}" alt="Image" class="w3-left w3-margin-right" style="width:100%">
                <span class="w3-large">Profile view</span><br>
                <span>Lorem ipsum dipsum</span>
              </li>
            </ul>
          </div>
          <hr>

          <!-- END Introduction Menu -->
        </div>
        {% endif %}

        <!-- END GRID -->
      </div><br>
{%endblock%}