{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block content %}

      <!-- Grid -->
      <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l12 s12">
          <!-- Blog entry -->

          <div class="w3-card-4 w3-margin ">
            <div class="w3-container w3-teal">
              <div class="w3-center">
                <h2>Posting</h2>
              </div>
            </div>

            
            <form class="w3-container" action="{%url 'posting' %}" method="post">
              {% csrf_token %}
              <div class="w3-container">
                <h3><b>owner</b></h3>
                <input class="w3-input w3-border" type="text" style="width:40%"
                  placeholder="레포지토리 소유자" name="owner" value= "SDB016">
                 <h3><b>repo</b></h3>
                <input class="w3-input w3-border w3-animate-input" type="text" style="width:40%"
                  placeholder="레포지토리 이름" name="repo" value="MyCommitBlog"> 
                <h3><b>github token</b></h3>
                <input class="w3-input w3-border" type="text" style="width:40%"
                  placeholder="github tokens" name="token" value="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">  
                  <div class="w3-bar">
                    <button
                      class="w3-button w3-padding-large w3-margin-bottom w3-border w3-round-large w3-teal" type="submit"><b>commit 불러오기</b></button>
                  </div>
              </div>

            </form>
            

            <form class="w3-container" action="{%url 'createPost'%}" method="post">
              {% csrf_token %}
              
              <div class="w3-container">
                <h3><b>Title</b></h3>
                <input class="w3-input w3-border w3-animate-input" type="text" style="width:40%"
                  placeholder="글 제목을 입력해주세요" name="title">
              </div>
              <br>

                          
            
              {% for commit in commits %}
              <div class="w3-container">
                <h3><b>Commit</b></h3>
              </div>
              <div class="w3-row">
                <div class="w3-col l6">
                  <div class="w3-card-2 w3-margin w3-margin-top">
                    <div class="w3-container w3-white">
                      <h4><b>filename</b></h4>
                      <p>
                        {{commit.files}}
                      </p>
                      <a href="https://github.com/Trade-Us/unlabeld-tsdata-clustering/commit/eddf66db3bd15315d572e66bea350dc5413effe7/UIwithTemplate/app.py#diff-222d1d40afad31f2f9966af83b4b7c547edcc061b1536bb3c62e4a33f9ffbf4f">
                        <img src="{%static 'githubImg.png'%}" class="w3-hover-opacity w3-margin-top" alt="Norway" style="width:30%">
                      </a>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="w3-col l6 w3-right  ">
                  <div class="w3-card-2 w3-margin w3-margin-top">
                    <div class="w3-container w3-white">
                      <h4><b>message</b></h4>
                      <p>
                        {{commit.message}}
                      </p>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="w3-container">
                <pre class="prettyprint lang-python w3-white w3-card-2">
                  {{commit.patch}}
                </pre>
              </div>

              {% endfor %}

              


              <div class="w3-container">
                <h3><b>Comments</b></h3>
                <div class="w3-group">
                  <textarea class="w3-input w3-border w3-animate-input" name="comments" style="width:50%" placeholder="내용을 작성해주세요"
                    required></textarea>
                </div>
                <br>
                <br>
              </div>

              <div class="w3-container">
                <div class="w3-bar">
                  <button
                    class="w3-button w3-padding-large w3-margin-bottom w3-border w3-round-large w3-teal" type="submit"><b>POST</b></button>
                </div>
              </div>
            </form>
          </div>
          <!-- END BLOG ENTRIES -->
        </div>
        <!-- END GRID -->
      </div><br>
{% endblock %}