{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block content %}
      <!-- Grid -->
      <div class="w3-row">
        <!-- Blog entries -->
        <div class="w3-col l12 s12">
          <!-- Blog entry -->

          <div class="w3-card-4 w3-margin ">
              <div class="w3-container">
                <h1>{{post.title}}</h1>
              </div>
                {% for commit in post.commit.all %}
                <div class="w3-container">
                  <h3><b>Commit</b></h3>
                </div>
                {% for file in commit.file.all %}
              <div>  
                <div class="w3-row w3-margin w3-margin-top">
                  <div class="w3-col l6">
                    <div class="w3-card-2 w3-margin w3-margin-top">
                      <div class="w3-container w3-white">
                        <h4><b>filename</b></h4>
                        <p>
                          {{file.fileName}}
                        </p>
                        <a href="https://github.com/Trade-Us/unlabeld-tsdata-clustering/commit/eddf66db3bd15315d572e66bea350dc5413effe7/UIwithTemplate/app.py#diff-222d1d40afad31f2f9966af83b4b7c547edcc061b1536bb3c62e4a33f9ffbf4f">
                          <img src="{%static 'githubImg.png'%}" class="w3-hover-opacity w3-margin-top" alt="Norway" style="width:30%">
                        </a>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="w3-col l6 w3-right">
                    <div class="w3-card-2 w3-margin w3-margin-top">
                      <div class="w3-container w3-white">
                        <h4><b>message</b></h4>
                        <p>
                          {{commit.message}}
                        </p>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
                <div class="w3-container">
                  <pre class="prettyprint lang-python w3-white w3-card-2 w3-margin w3-margin-top">
                    {{file.patch}}
                  </pre>
                </div>
              </div>
              {% endfor %}
              <div class="w3-container">
                <div class="w3-card-2 w3-margin w3-margin-top">
                      <div class="w3-container w3-white">
                        <h4>{{post.comment}}</h4>
                      </div>
                </div>
              </div>
              {% endfor %}

            <div class="w3-container w3-margin w3-margin-top w3-center">
              <button class="w3-button w3-padding-large w3-margin-bottom w3-border w3-round-large w3-teal" onclick="location.href='{% url 'editPost' post.id%}' "><b>EDIT</b></button>
              <button class="w3-button w3-padding-large w3-margin-bottom w3-border w3-round-large w3-red" onclick="location.href='{% url 'deletePost' post.id%}' "><b>DELETE</b></button>
            </div>
          </div>
          <!-- END BLOG ENTRIES -->
        </div>
        <!-- END GRID -->
      </div><br>
{% endblock %}