<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:130px">
    <h5 class="w3-bar-item w3-text-teal">Setting</h5>
    {% if user.is_authenticated %}
    <button class="w3-bar-item w3-button tablink">{{user.username}}</button>
    <button class="w3-bar-item w3-button tablink">Profile</button>
    <button class="w3-bar-item w3-button tablink">Blog setting</button>
    {% else %}
    <button class="w3-bar-item w3-button tablink">Sign in</button>
    <button class="w3-bar-item w3-button tablink">Sign up</button>
    {% endif %}
    <!-- Rounded switch -->
    <div class="w3-bar-item w3-center" style="margin-top: 300%">
      <span>Dark Mode</span>
      <label class="switch">
        <input id="darkModeToggle" type="checkbox" onclick="toggle(this)">
        <div class="slider round">

        </div>
      </label>
    </div>
</div>

<div>
    {% if user.is_authenticated %}
      <!-- Logout Button-->
    <div class="navigation">
      <a class="button" href="{% url 'logout' %}">
        <img src="{%static 'img_avatar3.png' %}">
        <div class="logout">LOGOUT</div>
      </a>
    </div>
    {% else %}
    <div class="navigation">
      <a class="button" href="{% url 'login' %}">
        <img src="{%static 'img_avatar3.png' %}">
        <div class="login"> LOGIN</div>
      </a>
    </div>
    {% endif %}
</div>

{% block content %}
{% endblock %}